.btn {
	font-family: $ap-font-family-secondary;
	font-size: 0.875rem;
}

.btn-sm {
	padding: 0.2rem 1.2rem;
	letter-spacing: 0.15rem;
	font-size: 0.6rem;
	line-height: 2;
}

.btn-lg {
	padding: 0.4rem 2.75rem;
	letter-spacing: 0.17rem;
	font-size: 0.875rem;
	line-height: 2;
}