.ap-hero {
	position: relative;
	background: url('../images/bg/top-bg.jpg') 50% 50% no-repeat;
	background-size: cover;
	&:after {
		@include ap-bg-overlay($ap-black, 0.4);
	}
	margin-bottom: 0;
}

.ap-hero-subheader {
	margin-bottom: 1rem;
	filter: drop-shadow(0 2px rgba($ap-gray-900, 1));
}

.ap-hero-content {
	@include ap-relative-zindex;
}

.ap-hero-header {
	margin-bottom: 0.85rem;
	letter-spacing: 0.55rem;
	text-shadow: 0 2px 0 rgba($ap-gray-900, 1);
	@include media-breakpoint-up(md) {
		font-size: 3.06rem;
	}
}