.ap-post-item {
	padding-bottom: 40px;
}

.ap-post-item-link {
	margin: 1rem 0;
	color: $gray-900;
}

.ap-post-item-title {
	font-size: 1.571rem;
}

.ap-post-item-more {
	margin-bottom: 40px;
}

.ap-post-item-subtitle {
	font-size: 1.2rem;
	padding: 1.0rem 0 0.5rem;
}