.ap-front-page-welcome {
	padding: 60px 0 70px;
}

.ap-front-page-portfolio {
	padding: 70px 0 75px;
}

.ap-front-page-portoflio-img-last {
	margin-top: 29px;
}

.ap-front-page-services {
	padding: 65px 0 30px;
}

.ap-front-page-blog {
	padding: 65px 0 0px;
	.ap-post-box {
		margin-bottom: 75px;
	}
}


